<header class="header">
  <div class="container">
    <div class="header__logo-wrapper">
      <a href="main.html" class="header__logo">
        <img src="/images/icons/logo-1.svg" alt="logo">
        <img src="/images/icons/logo-2.png" alt="logo">
        <span class="ml-7px">Нұр-Сұлтан қаласы әкімдігінің Спортты олимпиадалық емес түрлері бойынша дамыту дирекциясы</span>
      </a>
    </div>
    
    <ul class="list list--unstyled lang-list header__lang">
      <li>Каз</li>
      <li class="active">Рус</li>
      <li>Eng</li>
    </ul>

    <div class="d-flex flex-aic">
      <nav>
        <ul class="list list--unstyled header__nav">
          <li><a class="link link--unstyled {{'active' if page == 'news'}}" href="news.html">Новости</a></li>
          <li><a class="link link--unstyled {{'active' if page == 'sport-kinds'}}" href="sport-kinds.html">Виды спорта</a></li>
          <li><a class="link link--unstyled {{'active' if page == 'events'}}" href="events.html">Планируемые мероприятия</a></li>
          <li><a class="link link--unstyled {{'active' if page == 'trainers'}}" href="trainers.html">Тренерский состав</a></li>
          <li><a class="link link--unstyled {{'active' if page == 'athletes'}}" href="athletes.html">Наши спортсмены</a></li>
          <li><a class="link link--unstyled {{'active' if page == 'gallery'}}" href="gallery.html">Галерея</a></li>
          <li><a class="link link--unstyled {{'active' if page == 'contacts'}}" href="contacts.html">Контакты</a></li>
        </ul>
      </nav>

      <div class="hamburger js-hamburger">
          <div class="hamburger__inner">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
    </div>

    <div class="mobile-menu">
        <nav class="mobile-menu__inner">
            <ul class="mobile-menu__list">
                <li><a class="link link--unstyled {{'active' if page == 'news'}}" href="news.html">Новости</a></li>
                <li><a class="link link--unstyled {{'active' if page == 'sport-kinds'}}" href="sport-kinds.html">Виды спорта</a></li>
                <li><a class="link link--unstyled {{'active' if page == 'events'}}" href="events.html">Планируемые мероприятия</a></li>
                <li><a class="link link--unstyled {{'active' if page == 'trainers'}}" href="trainers.html">Тренерский состав</a></li>
                <li><a class="link link--unstyled {{'active' if page == 'athletes'}}" href="athletes.html">Наши спортсмены</a></li>
                <li><a class="link link--unstyled {{'active' if page == 'gallery'}}" href="gallery.html">Галерея</a></li>
                <li><a class="link link--unstyled {{'active' if page == 'contacts'}}" href="contacts.html">Контакты</a></li>
            </ul>

            <div class="social">
              <a href="http://" target="_blank" rel="noopener noreferrer" class="mr-35px">
                <img src="images/svg/youtube.svg" alt="youtube">
              </a>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="mr-35px">
                <img src="images/svg/facebook.svg" alt="facebook">
              </a>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="images/svg/instagram.svg" alt="instagram">
              </a>
            </div>

            <ul class="list list--unstyled lang-list">
              <li>Каз</li>
              <li class="active">Рус</li>
              <li>Eng</li>
            </ul>
        </nav>
    </div>
  </div>
</header>