.btn {
  font-family: $f-main-r;
  font-weight: normal;
  font-style: normal;
  outline: none;
  transition: color $transition-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--primary {
    height: 52px;
    padding: 0 34px;
    border-radius: 12px;
    font-weight: 600;
    color: #fff;
    background: $c-blue-1;

    &:hover {
      color: #fff;
      background: #0056b7;
    }

    &:active {
      color: #fff;
      background: #004089;
    }
  }

  &--secondary {
    height: 52px;
    padding: 0 34px;
    border-radius: 12px;
    font-weight: 600;
    color: $c-blue-1;
    background: transparent;
    border: 1px solid $c-blue-1;

    &:hover {
      color: #fff;
      background: #0056b7;
    }

    &:active {
      color: #fff;
      background: #004089;
    }
  }

  &-collapse {
    overflow: hidden;
    padding: 0 16px;
    height: 36px;
    background: $c-grey-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .text-normal;
    color: $c-blue-1;
    border-radius: 12px;

    &__arrow {
      transition: 0.3s all ease;
    }

    &:not(.collapsed) {
      border-radius: 12px 12px 0 0;
      .btn-collapse__arrow {
        transform: scale(-1);
      }
    }

    &.collapsed {
    }
  }

  &:focus {
    box-shadow: unset;
  }
}

.collapse {
  &__content {
    background: $c-grey-2;
    padding: 16px 18px;
    border-radius: 0 0 12px 12px;
  }
}
