.footer {
  padding: 34px 0 50px;
  p {
    max-width: 375px;
  }

  &__left {
  }

  &__right {
    font-weight: 600;
    border-left: 1px solid $c-grey-3;
}

&__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

&__nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9.5px;
    font-weight: 600;
    li {
      margin: 7px 9.5px;
    }
  }

  &__contacts {
    margin-left: 14px;
    p {
      max-width: 308px;
    }
  }
}
