.section {
  padding: 63px 0;
  &--main-news {
    padding: 0;
  }

  &--sport-kinds {
  }

  &--news {
  }

  &--plans {
  }

  &--trainers {
  }

  &--gallery {
  }

  &--sport {
    .h2 {
      margin-top: 44px;
    }

    .news {
      margin-bottom: 14px;
    }

    .trainer-card {
    }
  }
}
