{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <ul class="crumbs">
  {% for item in breadcrumb %}
    {% if item.url %}
      <li>
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% elseif not node %}
      <li>
      {{ item.text }}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}
