
{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div class="swiper-block" id="sport-kinds-filter">
  <div class="swiper--nav">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
    </div>
    <div class="swiper-btn swiper-btn-next">
      <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.676329 11.8759C0.599034 11.9586 0.502416 12 0.396135 12C0.289855 12 0.193237 11.9586 0.115942 11.8759C-0.0386473 11.7103 -0.0386473 11.4414 0.115942 11.2759L5.04348 6L0.115942 0.724138C-0.0386473 0.558621 -0.0386473 0.289655 0.115942 0.124138C0.270531 -0.0413793 0.521739 -0.0413793 0.676329 0.124138L5.88406 5.7C6.03865 5.86552 6.03865 6.13448 5.88406 6.3L0.676329 11.8759Z"
          fill="#557BBC" /> </svg>
    </div>
  </div>
</div>
