<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 footer__left">
        <div class="footer__row">
          <div class="d-flex flex-aic">
            <a href="main.html" class="mr-17px">
              <img src="/images/icons/logo-1.svg" alt="logo">
            </a>
            <p class="font-bold">Дирекция развития спорта по неолимпийским видам акимата города Нур-Султан</p>
          </div>

          <ul class="list list--unstyled header__lang">
            <li>Каз</li>
            <li>Рус</li>
            <li>Eng</li>
          </ul>

          <img src="/images/icons/logo-2.png" alt="logo" class="ml-10px mr-64px">
        </div>

        <nav>
          <ul class="list list--unstyled footer__nav">
            <li><a class="link link--unstyled {{'active' if page == 'news'}}" href="news.html">Новости</a></li>
            <li><a class="link link--unstyled {{'active' if page == 'sport-kinds'}}" href="sport-kinds.html">Виды спорта</a></li>
            <li><a class="link link--unstyled {{'active' if page == 'events'}}" href="events.html">Планируемые мероприятия</a></li>
            <li><a class="link link--unstyled {{'active' if page == 'trainers'}}" href="trainers.html">Тренерский состав</a></li>
            <li><a class="link link--unstyled {{'active' if page == 'athletes'}}" href="athletes.html">Наши спортсмены</a></li>
            <li><a class="link link--unstyled {{'active' if page == 'gallery'}}" href="gallery.html">Галерея</a></li>
            <li><a class="link link--unstyled {{'active' if page == 'contacts'}}" href="contacts.html">Контакты</a></li>
          </ul>
        </nav>

        <p class="text-normal mt-20px">© 1992-2021 Все права защищены</p>
      </div>
      <div class="col-md-4 footer__right">
        <div class="footer__contacts">
          <p class="mb-10px">Наши контакты</p>
          <p class="mb-18px">010000 г. Нур-Султан  Кургальжинское шоссе 13Б, 3 этаж</p>
          <p class="mb-13px">8 (7172) 67-71-84</p>
          <a class="link link--unstyled" href="mailto:zhiger.sk@mail.ru">zhiger.sk@mail.ru</a>
        </div>
    </div>
    </div>
  </div>
</footer>