<header class="header">
  <div class="header__logo-wrapper">
    <a href="main.html">
      <img src="/images/icons/logo-1.svg" alt="logo">
    </a>
    <img src="/images/icons/logo-2.png" alt="logo" class="ml-10px mr-17px">
    Дирекция развития спорта по неолимпийским видам акимата города Нур-Султан
  </div>
  
  <ul class="list list--unstyled header__lang">
    <li>Каз</li>
    <li class="font-bold">Рус</li>
    <li>Eng</li>
  </ul>

  <nav>
    <ul class="list list--unstyled header__nav">
      <li><a class="link link--unstyled {{'active' if page == 'news'}}" href="news.html">Новости</a></li>
      <li><a class="link link--unstyled {{'active' if page == 'sport-kinds'}}" href="sport-kinds.html">Виды спорта</a></li>
      <li><a class="link link--unstyled {{'active' if page == 'events'}}" href="events.html">Планируемые мероприятия</a></li>
      <li><a class="link link--unstyled {{'active' if page == 'trainers'}}" href="trainers.html">Тренерский состав</a></li>
      <li><a class="link link--unstyled {{'active' if page == 'athletes'}}" href="athletes.html">Наши спортсмены</a></li>
      <li><a class="link link--unstyled {{'active' if page == 'gallery'}}" href="gallery.html">Галерея</a></li>
      <li><a class="link link--unstyled {{'active' if page == 'contacts'}}" href="contacts.html">Контакты</a></li>
    </ul>
  </nav>
</header>