.font {
  &-regular {
    font-family: $f-main-r;
  }

  &-bold {
    font-weight: 600;
  }

  &-medium {
    font-family: $f-main-m;
  }
}

@for $i from 0 through 70 {
  .mt {
    &-#{$i}px {
      margin-top: #{$i}px !important;
    }
  }

  .mb {
    &-#{$i}px {
      margin-bottom: #{$i}px !important;
    }
  }

  .mr {
    &-#{$i}px {
      margin-right: #{$i}px !important;
    }
  }

  .ml {
    &-#{$i}px {
      margin-left: #{$i}px !important;
    }
  }

  .pt {
    &-#{$i}px {
      padding-top: #{$i}px !important;
    }
  }

  .pb {
    &-#{$i}px {
      padding-bottom: #{$i}px !important;
    }
  }
}

@include sm {
  @for $i from 0 through 70 {
    .mt-sm {
      &-#{$i}px {
        margin-top: #{$i}px !important;
      }
    }
  
    .mb-sm {
      &-#{$i}px {
        margin-bottom: #{$i}px !important;
      }
    }
  
    .mr-sm {
      &-#{$i}px {
        margin-right: #{$i}px !important;
      }
    }
  
    .ml-sm {
      &-#{$i}px {
        margin-left: #{$i}px !important;
      }
    }
  
    .pt-sm {
      &-#{$i}px {
        padding-top: #{$i}px !important;
      }
    }
  
    .pb-sm {
      &-#{$i}px {
        padding-bottom: #{$i}px !important;
      }
    }
  }
}

@include md {
  @for $i from 0 through 70 {
    .mt-md {
      &-#{$i}px {
        margin-top: #{$i}px !important;
      }
    }
  
    .mb-md {
      &-#{$i}px {
        margin-bottom: #{$i}px !important;
      }
    }
  
    .mr-md {
      &-#{$i}px {
        margin-right: #{$i}px !important;
      }
    }
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcnd {
  justify-content: flex-end
}

.c-hidden-sm {
  @include sm {
    display: none !important;
  }
}

.c-hidden-md {
  @include md {
    display: none;
  }
}

.c-hidden-lg {
  @include lg {
    display: none;
  }
}

.c-hidden-xl {
  @include xl {
    display: none;
  }
}

.c-show-xl {
  @include xl-min {
    display: none !important;
  }
}

.c-show-lg {
  @include lg-min {
    display: none !important;
  }
}

.c-show-md {
  @include md-min {
    display: none !important;
  }
}

.c-show-sm {
  @include sm-min {
    display: none !important;
  }
}

.c-show-xs {
  @include xs-min {
    display: none !important;
  }
}

.max {
  &-width {
    &-370 {
      max-width: 370px;
    }
  }
}

.color {
  &-grey-1 {
    color: $c-grey-1;
  }

  &-grey-5 {
    color: $c-grey-5;
  }

  &-blue-1 {
    color: $c-blue-1;
  }
}