@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNovaRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNovaSemibold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Medium";
  src: url("../fonts/ProximaNovaMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNovaBold.ttf");
  font-weight: normal;
  font-style: normal;
}
