// fonts
$f-main-r: "Proxima Nova Regular";
$f-main-m: "Proxima Nova Medium";
$f-main-b: "Proxima Nova Bold";
$f-main-sb: "Proxima Nova Semibold";

$c-primary: #141414;

// transitions
$transition-primary: 0.3s;

$imgBase: "../images/";

$xs: 479px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

$c-grey-1: #bababa;
$c-grey-2: #F8F8F8;
$c-grey-3: #D7D7D7;
$c-grey-4: #858585;
$c-blue-1: #0068DE;
