<div class="modal modal--trainer" tabindex="-1" role="dialog" id="modal--trainer">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-aic">
          <div class="avatar-icon mr-14px">
            <img src="" alt="icon"> </div>
          <div>
            <p class="font-bold mb-3px trainer-name-modal"></p>
            <p class="text-normal sport-kind"></p>
          </div>
        </div>
        <div class="details-row">
          <div>
            <div class="bullets font-bold text-small">
            </div>
            <span class="text-small color-blue-1 ml-3px senior"></span>
          </div>
          <p class="details-row__phone"></p>
        </div>
        <p class="mt-18px body"></p>
        <div class="modal-address">
        </div>
        <a class="btn btn-collapse collapsed" data-toggle="collapse" href="#map-collapse-1" role="button" aria-expanded="false" aria-controls="map-collapse-1">
          <div class="d-flex flex-aic">
            <img src="{{ base_path ~ directory }}/web/images/svg/map-arrow.svg" alt="arrow-map" class="mr-7px"> {{ 'Показать на карте'|t }} </div>
          <img src="{{ base_path ~ directory }}/web/images/svg/arrow-down.svg" alt="arrow-down" class="mr-7px btn-collapse__arrow">
        </a>
        <!-- data-map-inited - yandex map is inited or not (must be 0, change to 1 after map initilizing) -->
        <!-- data-coordinates - yandex map coordinates -->
        <div class="collapse map-collapse" id="map-collapse-1" data-map-inited="0" data-coordinates="">
          <div class="collapse__content">
            <div class="modal-map"></div>
          </div>
        </div>
      </div>
      <div class="modal-close" data-dismiss="modal" aria-label="Close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M1.65685 1.65687L7.31371 7.31372M12.9706 12.9706L7.31371 7.31372M7.31371 7.31372L12.9706 1.65687M7.31371 7.31372L1.65685 12.9706" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" /> </svg>
      </div>
    </div>
  </div>
</div>
