.lang-list li a {
  color: unset;
}
.lang-list li a:hover {
  text-decoration: none;
}
.lang-list li.is-active {
  font-weight: 600;
  color: #141414;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: unset;
  left: unset;
  width: unset;
}
