.lang-list li a {
  color: unset;
}
.lang-list li a:hover {
  text-decoration: none;
}
.lang-list li.is-active {
  font-weight: 600;
  color: #141414;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: unset;
  left: unset;
  width: unset;
}
.tn-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.tn-hidden {
  display: none;
}
.swiper--news .swiper-btn-wrapper .swiper-btn{
    transition: 0.2s; /* Время эффекта */
   }
.swiper--news .swiper-btn-wrapper .swiper-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
