{% set page = 'gallery' %}
{% extends "layouts/default.njk" %}

{% block content %}
    <main class="main main--gallery">
        <div class="container">
            <ul class="crumbs">
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <a href="">Галерея</a>
                </li>
            </ul>

            <section>
                <h1 class="h1">Галерея</h1>
                {% include "_partials/nav-slider.njk" %}

                <div class="row">
                    {% for i in range(12) %}
                        <div class="col-md-6 mb-32px">
                            <a href="current-gallery.html" class="gallery-card link-card">
                                <img src="images/img.png" alt="preview" class="link-card__zoom">
                                <div class="gallery-card__content">
                                    <h3 class="h3">Чемпионат Республики Казахстан по жиму лежа</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex flex-jcc mt-12px">
                    <button class="btn btn--secondary">Показать еще</button>
                </div>
            </section>
        </div>
    </main>
{% endblock %}