{% set page = 'athletes' %}
{% extends "layouts/default.njk" %}

{% block content %}
    <main class="main">
        <div class="container">
            <ul class="crumbs">
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <a href="">Наши спортсмены</a>
                </li>
            </ul>

            <section>
                <h1 class="h1">Наши спортсмены</h1>
            </section>
        </div>
    </main>
{% endblock %}