{% set page = 'news' %}
{% extends "layouts/default.njk" %}

{% block content %}
    <main class="main main--current-gallery">
        <div class="container">
            <ul class="crumbs">
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <a href="">Галерея</a>
                </li>
            </ul>

            <section>

                <div class="row">
                    <div class="col-md-8">
                        <h1 class="h1">Чемпионат Республики Казахстан по жиму лежа</h1>
                        <img src="images/img.png" alt="img" class="rounded-image mb-56px">
                        <img src="images/img.png" alt="img" class="rounded-image mb-56px">
                        <img src="images/img.png" alt="img" class="rounded-image mb-56px">
                        <img src="images/img.png" alt="img" class="rounded-image">
                    </div>
                    <div class="col-md-4">
                        <div class="title-row mb-24px mt-26px">
                            <h3 class="h3 mb-0px">Галерея</h2>
                            <a href="news.html" rel="noopener noreferrer" class="link link--blue font-medium">Все новости</a>
                        </div>
                        <a href="" class="news-card link-card mb-30px">
                            <div class="news-card__header">
                                <img src="images/img.png" alt="news-preview" class="link-card__zoom">
                            </div>
                            <div class="news-card__content">
                                <p class="text-small mb-2px">22 Қаңтар 2019 <span class="eye ml-10px">620</span></p>
                                <p class="font-bold mb-8px link-card__title">Онлайн турнир по асык ату</p>
                                <p class="text-small">#Асық ату</p>
                            </div>
                        </a>
                        <a href="" class="news-card link-card mb-30px">
                            <div class="news-card__header">
                                <img src="images/img.png" alt="news-preview" class="link-card__zoom">
                            </div>
                            <div class="news-card__content">
                                <p class="text-small mb-2px">22 Қаңтар 2019 <span class="eye ml-10px">620</span></p>
                                <p class="font-bold mb-8px link-card__title">Онлайн турнир по асык ату</p>
                                <p class="text-small">#Асық ату</p>
                            </div>
                        </a>

                        <a href="" class="advertize mt-0px">
                            <img src="images/adv.png" alt="advertize">
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}