{% set page = 'leadership' %}
{% extends "layouts/default.njk" %}

{% block content %}
    <main class="main main--leadership">
        <div class="container">
            <ul class="crumbs">
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <a href="">Руководство</a>
                </li>
            </ul>

            <section>
                <h1 class="h1">Руководство</h1>

                <div class="leadership-card">
                    <div class="leadership-card__left">
                        <div class="leadership-card__avatar">
                            <img src="images/img.png" alt="">
                        </div>
                        <h3 class="h3 c-show-md mb-0px ml-16px">Бисембаев Абай Ермаханович</h3>
                    </div>
                    <div class="leadership-card__right">
                        <h3 class="h3 c-hidden-md mb-12px mt-10px">Бисембаев Абай Ермаханович</h3>
                        <p class="mb-14px">Помощник Первого Президента Республики Казахстан - Елбасы - Первый заместитель Управляющего Делами Президента Республики Казахстан</p>
                        
                        <div class="btn-collapse collapsed font-bold" data-toggle="collapse" href="#leader-collapse-1" role="button" aria-expanded="false" aria-controls="leader-collapse-1">
                            Образование и трудовая деятельность
                            <img src="images/svg/arrow-down.svg" alt="arrow-down" class="mr-7px btn-collapse__arrow">
                        </div>
                    
                        <div class="collapse" id="leader-collapse-1">
                            <div class="collapse__content">
                                content
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="leadership-card">
                    <div class="leadership-card__left">
                        <div class="leadership-card__avatar">
                            <img src="images/img.png" alt="">
                        </div>
                        <h3 class="h3 c-show-md mb-0px ml-16px">Бисембаев Абай Ермаханович</h3>
                    </div>
                    <div class="leadership-card__right">
                        <h3 class="h3 c-hidden-md mb-12px mt-10px">Бисембаев Абай Ермаханович</h3>
                        <p class="mb-14px">Помощник Первого Президента Республики Казахстан - Елбасы - Первый заместитель Управляющего Делами Президента Республики Казахстан</p>
                        
                        <div class="btn-collapse collapsed font-bold" data-toggle="collapse" href="#leader-collapse-2" role="button" aria-expanded="false" aria-controls="leader-collapse-2">
                            Образование и трудовая деятельность
                            <img src="images/svg/arrow-down.svg" alt="arrow-down" class="mr-7px btn-collapse__arrow">
                        </div>
                    
                        <div class="collapse" id="leader-collapse-2">
                            <div class="collapse__content">
                                content
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}