{% set page = 'news' %}
{% extends "layouts/default.njk" %}

{% block content %}
    <main class="main main--news">
        <div class="container">
            <ul class="crumbs">
                <li>
                    <a href="">Главная</a>
                </li>
                <li>
                    <a href="">Новости</a>
                </li>
            </ul>

            <section>
                <h1 class="h1">Новости</h1>
                {% include "_partials/nav-slider.njk" %}
                {% include "_partials/news-block.njk" %}

                <div class="row mt-15px">
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            {% for i in range(6) %}
                                <div class="col-md-6">
                                    <a href="current-news.html" class="news-card link-card">
                                        <div class="news-card__header">
                                            <img src="images/img.png" alt="news-preview" class="link-card__zoom">
                                        </div>
                                        <div class="news-card__content">
                                            <p class="text-small mb-2px">22 Қаңтар 2019 <span class="eye ml-10px">620</span></p>
                                            <p class="font-bold mb-8px link-card__title">Онлайн турнир по асык ату</p>
                                            <p class="text-small">#Асық ату</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="" target="_blank" class="advertize mt-15px">
                            <img src="images/adv.png" alt="advertize">
                        </a>
                    </div>
                </div>

                <div class="d-flex flex-jcc mt-27px">
                    <button class="btn btn--secondary">Показать еще</button>
                </div>
            </section>
        </div>
    </main>
{% endblock %}